soapBMIWebClient/Connected Services/ServiceReference3/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapBMI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapBMI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element minOccurs="0" name="bmi" type="xs:double" />
      <xs:element minOccurs="0" name="more" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="risk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="result" nillable="true" type="tns:result" />
</xs:schema>