RestBMIWebClient/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64048/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestBMI" />
  <xs:element name="myBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myBMIResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestBMI" minOccurs="0" name="myHealthJsonResult" nillable="true" type="q1:result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestBMI" minOccurs="0" name="myHealthXmlResult" nillable="true" type="q2:result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>